* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

html,
body,
#__next {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', Bahnschrift, sans-serif;
}

@media only screen and (max-width: 620px) {
    html {
        font-size: 80%;
    }
}
@media only screen and (max-width: 400px) {
    html {
        font-size: 60%;
    }
}
